body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vw;
    background-color: #f3f3f3;
}

strong {
    font-weight: bold;
}

em {
    color: #AAAAAA;
}

ion-icon :hover {
    cursor: pointer;
}

.topBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

.topBar img {
    width: 75px;
    height: 53px;
    margin-left: 18px;
    border-radius: 5px;
}

.topBar ion-icon {
    font-size: 32px;
    margin-right: 24px;
}

.logIn_screen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logIn_screen img {
    width: 200px;
    margin-bottom: 100px;
}

.logIn_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.logIn_menu input {
    margin-bottom: 25px; 
    width: 300px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}

.logIn_menu button {
    width: 100px;
    height: 40px;
    font-size: 15px;
}

.msgBox{
    margin-top: 100px;
    font-size: 14px;
    overflow: scroll;
}

span {
    margin: 0 9px;
    padding: 12px 0;
}

.statusMsg {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    margin-bottom: 4px;
    line-height: 20px;
}

.publicMsg {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 4px;
    line-height: 20px;
}

.privateMsg {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #ffdede;
    margin-bottom: 4px;
    line-height: 20px;
}

.sideBar {
    height: 100%;
    width: 270px;
    position: fixed;
    top: 0;
    right: -270px;
    background-color: white;
    z-index: 29;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
}

.sideBar span {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    width: 200px;
}

.option_contact {
    margin: 0 0 12px 12px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 17px;
}

.icon_sidebar {
    margin-right: 10px;
    font-size: 25px;
}

.option_visibility {
    margin: 0 0 12px 12px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 17px;
}

.check {
    position: absolute;
    color: rgb(0, 158, 0);
    font-size: 14px;
    font-weight: bolder;
    left: 220px;
    top: 10%;
}

.toScreen {
    right: 0;
}

.sideBar_background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 28;
}

.bottomBar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
}

.bottomBar ion-icon {
    font-size: 32px;
    margin-right: 24px;
}

.bottomBar input {
    margin-left: 17px;
    width: 70vw;
    height: auto;
    border: none;
    font-style: italic;
    line-height: 40px;
}

.hidden {
    display: none;
}











@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');